

/* --- מכולת עמוד --- */
.home-container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

/* --- רקע מתחלף --- */
.slider-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide-image {
  object-fit: cover;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
}

/* --- לוגו וכפתורים --- */
.logo-section {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 10;
}

.buttons-section {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  display: flex;
  gap: 1rem;
  z-index: 10;
}

.btn-yellow {
  background-color: #facc15;
  color: #4209ed;
  font-weight: bold;
  padding: 0.6rem 1.4rem;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-yellow:hover {
  background-color: #eab308;
}

/* --- חלון צד --- */
.side-modal {
  direction: rtl;
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background-color: #facc15; /* רקע צהוב */
  z-index: 30;
  box-shadow: -5px 0 15px #4209ed;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

/* כותרת ואיקס סגירה */
.modal-header {
  direction: ltr;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-weight: 700;
}



.close-btn {
  background: none;
  border: none;
  font-size: 1.8rem;
  color: #4209ed;
  cursor: pointer;
}

/* טופס הרשמה/התחברות */
.modal-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;
}

.modal-form label {
  font-weight: bold;
  color: #4209ed;
}

.modal-form input {
  padding: 0.6rem;
  border-radius: 6px;
  border: 1px solid #999;
  font-size: 1rem;
}

.modal-form input:focus {
  outline: none;
  border-color: #4209ed;
  box-shadow: 0 0 6px #4209ed;
}

/* כפתור בתוך החלון */
.btn-submit {
  margin-top: 1.2rem;
  padding: 0.6rem;
  border: none;
  background-color: #4209ed;
  color: rgb(247, 233, 37);
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

